body {
  margin: 0;
  height: 100vh;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.4fr 6fr 0.9fr 11fr;
  grid-gap: 1px;
  height: 100vh;
}

.App.hide-list {
  grid-template-rows: 1.4fr 0 0 11fr;
}

.input-area {
  background-color: green;
  grid-column: 1 / span 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1.1fr;
}

.search-places {
  grid-column: 1 / span 4;
  grid-row: 2;
  display: grid;
  align-items: center;
}

.search-places select {
  width: 100%;
  height: 100%;
  min-height: 39px;
  border: none;
  padding-left: 7px;
  background: url('./icons/filter.png') no-repeat right #b7d3e2;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.neighborhhood-location {
  grid-column: 1 / span 4;
  grid-row: 1;
  display: flex;
  min-height: 39px;
}

.neighborhhood-location #location-input {
  width: 76%;
  padding-left: 10px;
  background-color: #1f7bad;
  color: #fff;
  border: 0;
}

.neighborhhood-location #location-button,
.neighborhhood-location #hide-list-button
 {
  width: 12%;
  background-color: #b7d3e2;
}

.place-list {
  grid-column: 1 / span 2;
  grid-row: 2;
  overflow: hidden;
  position: relative;
}

.place-list.hide-list,
.list-footer.hide-list {
  display: none;
}

.place-list ul {
  list-style: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -1.0em;
  overflow: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.place-list ul li {
  width: 94%;
  height: 2.3em;
  float: left;
  border: 1px solid #ecf9ea;
  border-width: 1px 0;
  padding: 0.15em 0.20em 0.45em 0.15em;
  margin: 0;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-self: center;
  line-height: 1.3;
}

.place-list ul li.selected {
  background-color: #1f7bad;
  color: #fff;
}

.list-footer {
  background-image: url('./icons/Powered-by-Foursquare-full-color-200.png');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-column: 1 / span 2;
  grid-row: 3;
}

.list-footer p {
  margin: 0;
}

.map-area {
  background-color: pink;
  grid-column: 1 / span 2;
  grid-row: 4;
}

@media only screen and (orientation: landscape) {
  .App {
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1.2fr 16fr 1.3fr;
  }

  .App.hide-list {
    grid-template-rows: 1.4fr 17.9fr 0 0;
    grid-template-columns: 0 1fr 1fr 2fr;
  }

  .input-area {
    grid-column: 1 / span 4;
    grid-row: 1
  }

  .search-places {
    grid-column: 1 ;
    grid-row: 1 / span 2;
  }

  .neighborhhood-location {
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
  }

  .place-list {
    grid-column: 1;
    grid-row: 2;
  }

  .place-list ul {
    grid-template-columns: 1fr;
    padding: 0 1em 0 0.55em;
  }

  .place-list ul li {
    width: 100%;
  }

  .list-footer {
    grid-column: 1;
    grid-row: 3;
  }

  .map-area {
    grid-column: 2 / span 3;
    grid-row: 2 / span 2;
  }
}
